body {
  font-family: Arial, Helvetica, sans-serif
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

div.langs {
  display: flex;
  flex-direction: row;
}

div.lang {
  display: flex;
  margin: 2px 0px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

div.lang>label {
  margin: 0px 5px;
}

.item {
  margin: 2px 5px;
}

.warning {
  color: #f70;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.buttons>span {
  margin-left: 5px;
}
